.btn{
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:0.3s;
    padding: 10px;
    border-radius: 5px;
}
.btn-primary{
    padding: 10px 20px;
    background: var(--primary);
    color: white;
}
.btn-secondery{
    padding: 10px 20px;
    background: var(--green);
    color: white;
}
.btn:hover{
    opacity: 0.7;
}
.icon-btn{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-color: white;
}
.icon-btn:hover{
    background-color: var(--light-grey);
    opacity: 1;
}
.btn:active{
    transform: scale(0.8);
}
.btn-fab{
    color: white;
    background: var(--primary);
    height: 60px;
    width: 60px;
    position: fixed;
    left: 20px;
    bottom: 40px;
    font-size: 36px;
    border-radius: 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
    font-weight: bold;
}
.btn-fab:hover{
    opacity: 0.7;
}