.card-box{
    width: 90%;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px 20px 15px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 17px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.5s;
}
.card-box:hover{
    transform: scale(1.05);
}
.card-box .info{
    flex: 3;
}
.card-box .title{
    display: flex;
}
.card-box .circle{
    width: 12px;
    height: 12px;
    background: var(--primary);
    border-radius: 50px;
    margin-top: 17px;
    margin-left: 10px;
}

/** done cardbox style **/
.card-box.done{
    background: #ECECEC;
}
.card-box.done .circle{
    background: var(--green);
}
.card-box-container{
    margin-top: 30px;
}